/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 40rem;
width: 100%;
border: 3px solid #336699;
border-left: none;
border-radius: 1%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
height: 100%;
margin: 0;
padding: 0;
overflow: auto;
scroll-behavior: smooth;
}

a {
    color: #336699 !important;
}
a:hover {
    background-color: #336699 !important;
}

.solidBorder {
    border: 3px solid #336699;
}

.buttonOn{
    background-color: #2098D1;
    color: white;
}
.btn-outline-primary{
    color: white !important;
    border: 2px solid lightblue;
}
.jumbotron{
    overflow-y: auto;
    height: 40rem;
    border: 3px solid #336699;
    padding-top: 5%;
    overflow-x: hidden;
    border-right: none;
    background-color: white;
}

.jumbotron::-webkit-scrollbar
{
    width: 3px;
    background-color: white;
}
.jumbotron::-webkit-scrollbar-thumb
{
    background-color: #336699;
}
.group{
    border: 3px solid #336699;
    padding: 1rem 2rem;
    padding-top: 0;
    border-radius: 1%;
    background-color: whitesmoke;
    margin-top: 5%;
    transition: 0.8s;
    color: white;
    background-position: center;
    background-size: cover;
    text-shadow: 1px 1px rgb(0, 0, 0);
}
    .group:hover{
        box-shadow: 0 20px 35px rgba(0,0,0,0.3);
    }

.topbtn{
    width: 100%;
    transition: 0.7s;
}
.gm-style-iw, .gm-style{
    font-family: 'Lato', sans-serif;
}
.heading{
    background-color: whitesmoke;
}
.animate__animated{
    animation-duration: 3s;
}
h2{
    margin-top: 1em ;
}
.disabled{
    color: black;
    background-color: #2098D1;
}
.logo{
    width: 3%;
}
.portfolio{
    color: lightblue;
    transition: 0.5s;
}
    .portfolio:hover{
        background-color: transparent !important;
        font-size: large;
        text-decoration: underline;
        color: darkblue;
    }

@media only screen and (min-width: 768px){
    .container-fluid{
        overflow: hidden;
    }
    .topbtn{
        width: auto;
    }
}
@media only screen and (max-width: 768px){
    .logo{
        width: 12%;
    }
    .jumbotron{
        border-right: 3px solid #336699;
        border-bottom: none;
    }
    #map {
        border-left: 3px solid #336699;
        border-top: none;
    }

}
@media only screen and (min-width: 1025px){
    .topbtn{
        width: 100%;
    }
}
